body{
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	width: 100%;
}

p{
	color: rgb(114, 114, 114);
	font-weight: 300;
}

#logo{
	align-self: center;
}

#nav a{
	text-decoration: none;
}

#nav a:hover{
	color: rgb(2, 189, 213);
}

header{
	margin-top: 0;
	margin-bottom: 0;
	position: sticky;
	z-index: 1;
	top: 0;
	background-color: #fff;
}

#self-intro{
	margin: 0;
	/* refer to https://www.w3schools.com/howto/howto_css_hero_image.asp */
	background-image:linear-gradient(rgba(235, 235, 235, 0.78), rgba(235, 235, 235, 0.78)), url("images/slider.jpg");
	background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#self-intro .wrap{
	width: 60vw;
	margin: 0 20vw;
	text-align: center;
	line-height: 27px;
}

#self-intro .wrap .occupy{
	color: #02bdd5;
}

#self-intro .wrap button{
	height: 50px;
	width: 130px;
	background-color: #414141;
	color: #fff;
}

#self-intro button:focus{
	outline: none;
}

#about .wrap{
	width: 80%;
	display: flex;
	margin: 10% 10%;
}

#about .content p{
	margin-right: 10px;
	font-size: 16px;
	line-height: 25px;
}

#about .image image{
	max-width: 100%;
	max-height: 100%;
}

#latestwork{
	background-color: rgb(252, 252, 252);
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid rgb(252, 252, 252);
}

/* [A Pen by abraham anak agung](https://codepen.io/padunk/pen/QWbLZrG?editors=1100) */


#latestwork img{
	max-width: 100%;
  	max-height: 100%;
  	margin: 0;
  	padding: 0;
  	/*border: 1px solid red;*/
}

#latestwork .item1{
	grid-area: item1;
	object-fit: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#latestwork .item2{
	grid-area: item2;
	object-fit: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#latestwork .item3{
	grid-area: item3;
	object-fit: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#latestwork .item4{
	grid-area: item4;
	object-fit: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#latestwork .item5{
	grid-area: item5;
	object-fit: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#latestwork .item6{
	grid-area: item6;
	object-fit: cover;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#latestwork .wrap{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
	display: grid;
	grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    	"item1 item2 item3"
    	"item4 item5 item6";
}

.img-wrap{
	position: relative;
	z-index: 0;
}

.item div.overlay{
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;  
}

div.overlay{
	display: flex;

}

#latestwork .overlay button{
    line-height: 1;
    border: 1px solid #fff;
    padding: 10px 23px;
    color: #fff;
    margin: 4px;
    background-color: transparent;
    
}

#latestwork a{
	text-decoration: none;
	color: #fff;
}

#latestwork .container{
	margin-bottom: 23px;

}

#latestwork .header{
	width: 60vw;
	margin: 40px auto;
	text-align: center;
}
#latestwork .header h2{
	font-size: 30px;
}

#latestwork .header p{
	text-align: center;
	font-size: 18px;
}

#latestwork .description{
	background-color: #fff;
	border: 1px solid #fff;
}

#latestwork .description h3{
	color: #02bdd5;
	margin-bottom: 0;
	margin-left: 20px;
}

#latestwork .description p{
	margin-top: 5px;
	margin-left: 20px;
}

#contact{
	margin: 0;	
	border: 1px solid #02bdd5;
	background-color: #02bdd5;
}

#contact .wrap{
	padding: 60px;
	margin: 50px auto;
	text-align: center;
	color: #fff;
}

#contact .wrap h2{
	font-size: 35px;
	color: #fff;
}

#contact .wrap p{
	text-align: center;
	font-size: 18px;
	color: #fff;
}

#contact .wrap button{
	background-color: #fff;
	color: #02bdd5;
	font-size: 12px;
	padding: 16px 35px;
	text-transform: uppercase;
	border: none;
	margin-top: 23px;
}

button:focus{
	outline: none;
}

footer{
	height: 20px;
	margin-top: 0;
	margin-bottom: 0;
}
footer .wrap{
	width: 80vw;
	margin: 10px auto;
	padding: 18px 0;
}

footer .copyright{
	padding-top: 0;
	font-size: 16px;
}

footer .social-media{
	margin-bottom: 0;
	float: right;
	display: inline-block;
}

footer .social-media ul{
	margin-top: 0;
	list-style: none;
}

footer .social-media li{
	padding-top: 0;
	font-size: 22px;
	display: inline;
	padding-left: 9px;
}

footer a{
	color: #02bdd5;
	text-decoration: none;
}

.slideshow-container {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
}

/* Hide the images by default */
.mySlides {
 	z-index: 2;
	position: absolute;
	width: 600px;
	height: auto;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

/*https://www.w3schools.com/css/css_align.asp#:~:text=Center%20Align%20Elements,the%20edges%20of%20its%20container.*/

.mySlides img{
	width: 100%;
  	margin: 0;
  	padding: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
	border-radius: 3px 0 0 3px;
	right: 0;
}

/* Position the "previous button" to the right */
.prev{
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #337ab7;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


/* The Close Button */
.close {
  position: absolute;
  right: 0;
  color: #f1f1f1;
  font-size: 50px;
  margin-right: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

/* responsive desigin css for small screen */

@media only screen and (max-width: 768px) {	

	header .wrap{
		margin: 0 auto;
		width: 90vw;
		height: 100px;
		display: flex;
		justify-content: space-between;
	}


	#nav-mobi{
		margin-right: 18px;
		text-align: center;
		align-self: center;
	}

	#nav-mobi a.icon {
		color: #fff;
		background: black;
		display: block;
		text-align: center;
		padding: 6px 14px;
		font-size: 20px;
	}

	.topnav{
		display: none;
	}

	.topnav.responsive{
		display: block;
		align-self: center;
		position:  absolute;
		background-color: black;
		width: 100vw;
		top: 100px;
		left: 0;
		right: 0;
	}

	.topnav.responsive a{
		color: #fff;
	}

	.topnav.responsive ul{
		color: #fff;
		margin-left: 0;
		padding-left: 15px;
	}

	.topnav.responsive li{
		list-style: none;
		padding-bottom: 20px;
	}

	#self-intro {
		padding: 140px 0;
	}

	#about .wrap{
		display: block;
	}

	#about img{
		max-height: 100%;
		max-width: 100%;
	}

	#latestwork{
		width: 100vw;
	}

	#latestwork .wrap{
		display: block;
	}

	#latestwork .item{
		margin-bottom: 40px;
	}

	footer .copyright{
		text-align: center;

	}

	footer .copyright a{
		display: block;
		margin-top: 12px;

	}

	footer .social-media{
		padding-right: 20px;
		text-align: center;
		float: right;
		display: block;
	}

	.mySlides {
		width: 90%;
	}

}

@media only screen and (min-width: 768px){

	header .wrap{
		width: 80vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		height: 100px;
	}

	.topnav #nav-mobi{
		display: none;
	}

	.topnav{
		display: block;
		align-self: center;
	}

	.topnav a{
		color: #444; 
	}


	.topnav ul{
		display: inline-flex;
	}

	.topnav li{
		padding-left: 25px;
		list-style: none;
	}

	#nav-mobi{
    	display: none;
	}

}

} 

