body{
	background-color: #556B2F;
	font-family: Optima, Sans-serif;
}

#wrap{
	margin: 0 auto;
    width: 70%;
}

#header{
	grid-area: header;
	background-color: #BDB76B;
	text-align: right;
	padding-right: 20px;
}

#nav{
	grid-area: nav;
	background-color: #3CB371;
}

#sidebar{
	grid-area: sidebar;
	background-color: #BDB76B;
}

#content{
	grid-area: content;
	background-color: #8FBC8F;
	text-align: center;
}

#content p{
	padding-left: 10px;
	padding-right: 10px;
}

#footer{
	grid-area: footer;
}

#wrap{
	display: grid;
	grid-template-columns: 3fr, 1fr;
	grid-template-areas: 
		"header header"
		"nav nav"
		"content sidebar"
		"footer footer"
}

#nav li{
	display: inline;
	list-style-type: none;
	padding-right: 25px;
}

#content ul{
	list-style-type: none;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
