body{
	margin: 0;
	padding: 0;
	font-family: Optima, Sans-serif;
	background-color: #505095;
}

#nav{
	grid-area: nav;
	background-color: #a8ceff;
}

#nav h2{
	text-align: center;
}


#content{
	grid-area: content;
	background-color: #5a89e3;
	text-align: center;
}

#content p{
	margin-left: 15px;
	margin-right: 15px;
}

#content li{
	list-style: none;
}

#footer{
	grid-area: footer;
	text-align: center;
}

#wrap{
	margin: 0 auto;
	width: 55%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 
	"nav content"
	"footer footer"
}